
/* ============ REUSABLE COMPONENTS ============ */
/* input, textarea {
  font-size: 180% !important;
  padding-bottom: 25px !important;
} */
/* MARGIN/PADDING */
  .margin-auto {
    margin: auto;
  }

  .pt-2 {
    padding-top: 20px !important;
  }
  
  /* ALIGNMENT */
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }

  .text-left {
    text-align: left;
  }  

  .pull-right {
    float: right !important;
  }
  
  .pull-left {
    float: left !important;
  }

  .inline-block {
    display: inline-block !important;
  }

  .display-none {
    display: none;
  }
  
  /* COLORS */
  .white {
    color: #fff !important;
  }

  .light-grey {
    color: rgb(199, 198, 198) !important;
  }
  
  
  .dark {
    color: #343a40 !important;
  }

  .background-light {
    background: lightgrey !important;
  }

  /* FONT/TEXT */
  p {
    font-size: 120% !important;
  }
  .font-400 {
    font-weight: 400;
  }

  .font-600 {
    font-weight: 600;
  }

  .font-size-1rem {
    font-size: 1rem !important;
  }

  .size-120-percent {
    font-size: 120% !important;
  }

  .bolder {
    font-weight: bolder;
  }

  .uppercase {
    text-transform: uppercase;
  }
  
  /* HEIGHT/WIDTH */
  .height-100 {
    height: 100%;
  }
  
  .width-100 {
    width: 100%;
  }
  
  /* FORMS */
  .label-spacing {
    top: -20px !important;
  }

  .inline-list {
    margin: 0;
    padding: 0;
  }
  .inline-list li {
    display: inline-block;
    
  }
  
  /* DESKS */
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;

  }

  .flex-desk img {
    max-width: 100px;
    width: 100%;
    height: auto;
    border-radius: 50%;    
  }

  .border-stn {
    border-radius: 50%; 
    border: 2px solid;
  }


  .nav-divider {
    margin-top: 50px; 
    padding: 10px; 
    background: #029eb1;
    border-radius: 3px;
  }

  .nav-divider-heading {
    text-align: center; 
    color: #fff;
    font-weight: bold;
    margin: 0;
  }

  #welcome-nav {
    padding: 10px 20px 10px 0;
  }

.main .content {
  margin-top: 70px;
  padding: 30px 15px;
  min-height: calc(100vh - 123px);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.welcome-page-card p {
  font-size: 120%;;
}